In [1]:
import pandas as pd
df = pd.read_csv('data.csv')

In [23]:
#évolution des paramètres au bangladesh
dfbangladesh = df[df['Country name'] == 'Bangladesh']
dfbangladesh.set_index('year',inplace=True)
dfbangladesh1 = dfbangladesh[['Life Ladder','Log GDP per capita','Social support','Healthy life expectancy at birth','Freedom to make life choices','Perceptions of corruption']]
dfbangladesh1

,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Perceptions of corruption
year,,,,,,
2006,"4,319","7,940","0,672","59,120","0,612","0,786"
2007,"4,607","7,997","0,514","59,640","0,605","0,806"
2008,"5,052","8,047","0,467","60,160","0,606","0,802"
2009,"5,083","8,087","0,528","60,680","0,631","0,776"
2010,"4,858","8,130","0,549","61,200","0,659","0,774"
2011,"4,986","8,181","0,606","61,720","0,838","0,757"
2012,"4,724","8,231","0,582","62,240","0,668","0,765"
2013,"4,660","8,277","0,530","62,760","0,742","0,743"
2014,"4,636","8,323","0,577","63,280","0,736","0,789"
2015,"4,633","8,375","0,601","63,800","0,815","0,721"
2016,"4,556","8,431","0,649","63,925","0,875","0,688"
2017,"4,310","8,483","0,713","64,050","0,896","0,635"
2018,"4,499","8,542","0,706","64,175","0,901","0,701"
2019,"5,114","8,607","0,673","64,300","0,902","0,656"
2020,"5,280","8,629","0,739","64,425","0,777","0,742"
2021,"4,123","8,685","0,485","64,550","0,893","0,746"
2022,"3,408","8,743","0,404","64,675","0,865","0,617"

In [20]:
#corrélation entre le niveau de vie et le pib dans le monde en 2022
df1=df[df['year'] == 2022]
df1.set_index('Country name',inplace = True)
df2 = df1[['Life Ladder','Log GDP per capita']]