In [41]:
import pandas as pd
import numpy as np
df = pd.read_csv('data.csv')
dfall=df.copy()
df.dropna(axis=0,how='any',inplace=True)
df

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,"3,724","7,350","0,451","50,500","0,718","0,168","0,882","0,414","0,258"
1,Afghanistan,2009,"4,402","7,509","0,552","50,800","0,679","0,191","0,850","0,481","0,237"
2,Afghanistan,2010,"4,758","7,614","0,539","51,100","0,600","0,121","0,707","0,517","0,275"
3,Afghanistan,2011,"3,832","7,581","0,521","51,400","0,496","0,164","0,731","0,480","0,267"
4,Afghanistan,2012,"3,783","7,661","0,521","51,700","0,531","0,238","0,776","0,614","0,268"
...,...,...,...,...,...,...,...,...,...,...,...
2194,Zimbabwe,2018,"3,616","7,783","0,775","52,625","0,763","-0,051","0,844","0,658","0,212"
2195,Zimbabwe,2019,"2,694","7,698","0,759","53,100","0,632","-0,047","0,831","0,658","0,235"
2196,Zimbabwe,2020,"3,160","7,596","0,717","53,575","0,643","0,006","0,789","0,661","0,346"
2197,Zimbabwe,2021,"3,155","7,657","0,685","54,050","0,668","-0,076","0,757","0,610","0,242"
2198,Zimbabwe,2022,"3,296","7,670","0,666","54,525","0,652","-0,070","0,753","0,641","0,191"

In [33]:
#évolution des paramètres au bangladesh
dfbangladesh = df[df['Country name'] == 'Bangladesh']
dfbangladesh.set_index('year',inplace=True)
dfbangladesh1 = dfbangladesh[['Life Ladder','Log GDP per capita','Social support','Healthy life expectancy at birth','Freedom to make life choices','Perceptions of corruption']]
dfbangladesh1

,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Perceptions of corruption
year,,,,,,
2006,"4,319","7,940","0,672","59,120","0,612","0,786"
2007,"4,607","7,997","0,514","59,640","0,605","0,806"
2008,"5,052","8,047","0,467","60,160","0,606","0,802"
2009,"5,083","8,087","0,528","60,680","0,631","0,776"
2010,"4,858","8,130","0,549","61,200","0,659","0,774"
2011,"4,986","8,181","0,606","61,720","0,838","0,757"
2012,"4,724","8,231","0,582","62,240","0,668","0,765"
2013,"4,660","8,277","0,530","62,760","0,742","0,743"
2015,"4,633","8,375","0,601","63,800","0,815","0,721"
2016,"4,556","8,431","0,649","63,925","0,875","0,688"
2017,"4,310","8,483","0,713","64,050","0,896","0,635"
2018,"4,499","8,542","0,706","64,175","0,901","0,701"
2019,"5,114","8,607","0,673","64,300","0,902","0,656"
2020,"5,280","8,629","0,739","64,425","0,777","0,742"
2021,"4,123","8,685","0,485","64,550","0,893","0,746"
2022,"3,408","8,743","0,404","64,675","0,865","0,617"

In [34]:
#corrélation entre le niveau de vie et le pib dans le monde en 2022
df1=df[df['year'] == 2022]
df1.set_index('Country name',inplace = True)
df2 = df1[['Life Ladder','Log GDP per capita']]
df2

              Life Ladder Log GDP per capita
Country name
Albania             5,212              9,626
Argentina           6,261             10,011
Armenia             5,382              9,668
Australia           7,035             10,854
Austria             6,999             10,939
...                   ...                ...
United States       6,693             11,079
Uruguay             6,671             10,084
Uzbekistan          6,016              8,990
Vietnam             6,267              9,333
Zimbabwe            3,296              7,670

[104 rows x 2 columns]

In [26]:
#corrélation entre l'espérance de vie et le pib dans le monde en 2020
df3=df[df['year'] == 2020]
df3.set_index('Country name',inplace = True)
df4 = df3[['Healthy life expectancy at birth','Log GDP per capita']]

In [44]:
#image de l'évolution du niveau de vie global dans le monde
lst=df['year'].unique()
niveau_vie=[]
for annee in lst:
    niveau_vie.append(np.sum(df['Life Ladder'][df['year']==annee]))
df5=pd.DataFrame(list(zip(lst,niveau_vie)),columns=['year','Global Life Ladder'])
df5

    year                                 Global Life Ladder
0   2008  3,7245,9614,6527,2547,1814,8175,0527,1173,6675...
1   2009  4,4025,4856,4244,1784,5745,7015,0835,5646,0864...
2   2010  4,7585,2696,4414,3687,4507,3034,2195,9374,8585...
3   2011  3,8325,8675,3175,5896,7764,2607,4067,4714,6804...
4   2012  3,7835,5105,6054,3606,4684,3207,1967,4014,9114...
5   2013  3,5724,5513,9376,5824,2777,3647,4995,4814,6605...
6   2014  3,1314,8143,7956,6714,4537,2896,9505,2525,8126...
7   2015  3,9834,6076,6974,3487,3097,0765,1474,6335,7196...
8   2016  4,2204,5116,4274,3257,2507,0485,3044,5565,1786...
9   2017  2,6624,6405,2496,0394,2887,2577,2945,1524,3105...
10  2018  2,6945,0045,0435,7935,0627,1777,3965,1684,4995...
11  2019  2,3754,9954,7456,0865,4887,2347,1955,1735,1145...
12  2021  2,4365,2555,2175,9085,3017,1127,0804,1236,8824...
13  2007  4,6346,0734,8827,2854,5684,6075,6177,2196,4515...
14  2020  5,3655,4385,9017,1377,2135,2806,8394,4085,5595...
15  2022  5,2126,2615,3827,0356,9993,4086,8574,2175,9293...
16  2006  6,3134,2897,1224,7284,3195,6583,3305,3744,7393...
17  2005                                              7,418