In [23]:
import pandas as pd
import numpy as np 

df=pd.read_csv('data.csv',index_col='Country name',decimal=',')

df.columns=['Annee', 'Bonheur', 'Log_PIB', 'Support_social',
       'Esperance_de_vie', 'Liberte',
       'Generosite', 'Corruption', 'Positive_affect',
       'Negative_affect']
df=df.replace(',','.')

df1=df.sort_values('Annee')
    
L=[i for i in range(2005,2023)]
df2005=df['Annee']==2005

In [25]:
df2=pd.read_csv('Liste-Excel-des-pays-du-monde-gratuit-capitales-continent-nationalites.csv',usecols=['Nom français','Continent'],index_col='Nom français')
df2

                 Continent
Nom français
Afghanistan           Asie
Afrique du Sud     Afrique
Åland (les Îles)    Europe
Albanie             Europe
Algérie            Afrique
...                    ...
Viet Nam              Asie
Wallis-et-Futuna   Océanie
Yémen                 Asie
Zambie             Afrique
Zimbabwe           Afrique

[249 rows x 1 columns]

In [ ]:
df['Continent']=df2[