In [10]:
import pandas as pd
import numpy as np 

df=pd.read_csv('data.csv',index_col='Country name',decimal=',')

df.columns=['Annee', 'Bonheur', 'Log_PIB', 'Support_social',
       'Esperance_de_vie', 'Liberte',
       'Generosite', 'Corruption', 'Positive_affect',
       'Negative_affect']
df=df.replace(',','.')

df1=df.sort_values('annee')
    
L=[i for i in range(2005,2023)]
df2005=df['annee']==2005

,annee,bonheur,log PIB,support social,esperance de vie,liberte,generosite,corruption,Positive affect,Negative affect
Country name,,,,,,,,,,
Spain,2005,7.153,10.544,0.961,70.400,0.916,NaN,0.777,0.694,0.241
Pakistan,2005,5.225,8.252,0.591,53.200,0.630,NaN,0.844,NaN,0.237
Mexico,2005,6.581,9.792,0.903,64.400,0.814,NaN,0.764,0.763,0.219
United Kingdom,2005,6.984,10.667,0.979,69.100,0.922,NaN,0.398,0.779,0.262
France,2005,7.093,10.637,0.940,70.700,0.895,NaN,0.688,0.681,0.225
...,...,...,...,...,...,...,...,...,...,...
Kazakhstan,2022,6.006,10.187,0.923,66.200,0.883,0.022,0.720,0.652,0.132
Jordan,2022,4.356,9.134,0.774,67.600,0.759,-0.153,0.715,0.521,0.435
Japan,2022,6.178,10.636,0.899,74.475,0.789,-0.235,0.643,0.670,0.165
Togo,2022,4.239,7.685,0.579,57.700,0.696,0.007,0.713,0.594,0.414
Zimbabwe,2022,3.296,7.670,0.666,54.525,0.652,-0.070,0.753,0.641,0.191